#### Functions (IGNORE)

In [24]:
# import packages that will be used for analysis
import random
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

##### Collect Stock Data

In [25]:
import yfinance as yf
missing_data_tickers = [] # use this as a list of tickers with missing data

def get_data_from_start_to_end(ticker, start_date, end_date):
    global missing_data_tickers  # Use the global list to accumulate missing tickers
    try:
        stock_data = yf.download(ticker, start=start_date, end=end_date)
        if stock_data.empty:
            missing_data_tickers.append(ticker)
            raise ValueError(f"Stock data for ticker {ticker} during the period from {start_date} to {end_date} was not found.")
        return stock_data
    except Exception as e:
        print(f"An error occurred for ticker {ticker}: {e}")
        missing_data_tickers.append(ticker)
        return None

In [26]:
# for a variety of periods load in different list of tickers
def download_stock_data_for_periods(tickers, periods):
    all_data = {}
    
    for period, (start_date, end_date) in periods.items():
        period_data = {}
        for ticker in tickers:
            data = get_data_from_start_to_end(ticker, start_date, end_date)
            if data is not None:
                period_data[ticker] = data
        all_data[period] = period_data
    
    return all_data

In [27]:
import pandas as pd

# Get the adjusted close prices
adj_close_sector_etf = {}

# Create adjusted close price only listing of sector ETFs
def get_adjusted_closed_price(nested_dict, tickers, periods):
    for period in periods:
        stock_price_df = pd.DataFrame()  # Create a new DataFrame for each period
        for ticker in tickers:
            stock_price_df[ticker] = nested_dict[period][ticker]['Adj Close']
        
        adj_close_sector_etf[period] = stock_price_df  # Store the complete DataFrame for the period
    
    return adj_close_sector_etf

##### Relative Strength Index

In [28]:
def calculate_rsi(data, window=14):
    """
    Calculate the Relative Strength Index (RSI) for a given stock data series.

    Parameters:
    data (pd.Series): A pandas series of adjusted close prices.
    window (int): The lookback period for RSI calculation, default is 14.

    Returns:
    pd.Series: RSI values.
    """
    delta = data.diff()  # Difference in price from previous price
    gain = (delta.where(delta > 0, 0)).rolling(window=window).mean()  # Average gain
    loss = (-delta.where(delta < 0, 0)).rolling(window=window).mean()  # Average loss
    
    # Avoid division by zero, especially at the beginning of the dataset
    rs = gain / loss.replace(0, np.nan)  
    
    # RSI formula
    rsi = 100 - (100 / (1 + rs))
    return rsi

In [29]:
# create rsi value in sector etf dataframe

def rsi_value(nested_dict,periods,tickers):
    for period in periods:
        for ticker in tickers:
            nested_dict[period][ticker]['RSI'] = calculate_rsi(nested_dict[period][ticker]['Adj Close'])

    return nested_dict

In [30]:
import numpy as np

def create_rsi_signal(nested_dict, periods, tickers):
    """
    Adds a 'Signal' column to the nested dictionary based on RSI values.

    Parameters:
    - nested_dict: A nested dictionary where each period contains dataframes for tickers.
                   Each dataframe should have an 'RSI' column.
    - periods: A list of periods to iterate over.
    - tickers: A list of tickers to process within each period.

    Returns:
    - The modified nested dictionary with new 'Signal' columns.
    """
    
    for period in periods:
        for ticker in tickers:
            # Create the 'Signal' column using np.where
            nested_dict[period][ticker]['Signal'] = np.where(
                nested_dict[period][ticker]['RSI'] < 30, 'Buy',
                np.where(nested_dict[period][ticker]['RSI'] > 70, 'Sell', 'Hold')
            )

In [31]:
def collect_signals(nested_dict, periods, tickers):
    # Initialize an empty dictionary to hold DataFrames for each period
    rsi_signal_df = {}

    for period in periods:
        # Create a DataFrame for each period with the tickers as columns
        signals_period = pd.DataFrame(columns=tickers)
        
        # Loop through each ticker and extract the 'Signal'
        for ticker in tickers:
            signals_period[ticker] = nested_dict[period][ticker]['Signal']
        
        # Store the DataFrame in the dictionary using the period as the key
        rsi_signal_df[period] = signals_period

    # Return the dictionary containing DataFrames for each period
    return rsi_signal_df

##### Investment Tracking

In [32]:
import warnings

warnings.filterwarnings("ignore", category=FutureWarning)
    
from datetime import timedelta
def individual_stock(bb_signals_nd, adj_close_nd, periods_date, periods_list, tickers, initial_investment, percent_to_buy, percent_to_sell):
    # Portfolio summary - nested dictionary for each period and ticker
    portfolio_summary = {period: {ticker: pd.DataFrame() for ticker in tickers} for period in periods_list}

    # Set data to be accessed
    adj_close_data = adj_close_nd
    bollinger_band_data = bb_signals_nd

    all_data = {
        'Stock Tracker': portfolio_summary,
        'Adjusted Close Price': adj_close_nd,
        'Bollinger Band Signal': bollinger_band_data
    }

    # Loop through each economic period
    for period in periods_list:
        # Create the date range for the current period
        date_range = pd.date_range(start=pd.to_datetime(periods_date[period][0]), end=pd.to_datetime(periods_date[period][1]) - timedelta(days=120))
        # Get random dates for stochastic modeling
        start_dates = np.random.choice(date_range, size=1, replace=False)

        # Loop through sampled start dates
        for start_date in start_dates:
            time_stamp = pd.to_datetime(start_date)

            # Initialize account balance and shares for each ticker
            account_balance = {ticker: initial_investment for ticker in tickers}
            shares_number = {ticker: 0 for ticker in tickers}  # Initialize share count for each ticker

            # Extract the adjusted close and signal data for the time period
            adj_close_period = adj_close_data[period].loc[time_stamp:time_stamp + timedelta(days=120)]
            bb_signals_period = bollinger_band_data[period].loc[time_stamp:time_stamp + timedelta(days=120)]

            # Iterate over each row in the Bollinger Band signals (day by day)
            for row_idx, row in bb_signals_period.iterrows():

                # Tracking for each ticker individually
                for col_idx, signal in enumerate(row):
                    ticker = tickers[col_idx]  # Get ticker for each column
                    adj_close_price = adj_close_period.loc[row_idx, ticker]  # Get adjusted close price for that ticker

                    # Initialize stock tracker for current ticker
                    stock_tracker = all_data['Stock Tracker'][period][ticker]

                    # Handle Buy action
                    if signal == 'Buy':
                        amount_to_buy = percent_to_buy * account_balance[ticker]
                        if account_balance[ticker] >= amount_to_buy:
                            # Calculate shares to buy
                            shares_to_buy = amount_to_buy / adj_close_price
                            shares_number[ticker] += shares_to_buy

                            # Track investment for the current period
                            stock_tracker = stock_tracker.append({
                                'Date': row_idx,
                                'Share Price': adj_close_price,
                                'Signal': 'Buy',
                                'Buy/Sell Amount ($)': amount_to_buy,
                                'Buy/Sell Number of Shares': shares_to_buy,
                                'Shares ($) Ownership': shares_number[ticker] * adj_close_price,  # Update based on current price
                                'Shares Ownership': shares_number[ticker],
                                'Account Balance': account_balance[ticker] - amount_to_buy,  # Update balance after buying
                                'Stock Value ($)': shares_number[ticker] * adj_close_price,  # Value of the stock owned
                                'Total Value ($)': (account_balance[ticker] - amount_to_buy) + (shares_number[ticker] * adj_close_price),  # Total value of investment (balance + stock value)
                                'Profit ($)': ((account_balance[ticker] - amount_to_buy) + (shares_number[ticker] * adj_close_price)) - initial_investment  # Profit calculation
                            }, ignore_index=True)

                            # Update account balance after buying
                            account_balance[ticker] -= amount_to_buy

                    # Handle Sell action
                    elif signal == 'Sell':
                        if shares_number[ticker] > 0:  # Ensure we have shares to sell
                            amount_to_sell = percent_to_sell * (shares_number[ticker] * adj_close_price)
                            shares_to_sell = amount_to_sell / adj_close_price
                            if shares_number[ticker] >= shares_to_sell:
                                shares_number[ticker] -= shares_to_sell

                                # Track the sell action
                                stock_tracker = stock_tracker.append({
                                    'Date': row_idx,
                                    'Share Price': adj_close_price,
                                    'Signal': 'Sell',
                                    'Buy/Sell Amount ($)': amount_to_sell,
                                    'Buy/Sell Number of Shares': shares_to_sell,
                                    'Shares ($) Ownership': shares_number[ticker] * adj_close_price,  # Update based on current price
                                    'Shares Ownership': shares_number[ticker],
                                    'Account Balance': account_balance[ticker] + amount_to_sell,  # Update balance after selling
                                    'Stock Value ($)': shares_number[ticker] * adj_close_price,  # Value of the stock owned
                                    'Total Value ($)': (account_balance[ticker] + amount_to_sell) + (shares_number[ticker] * adj_close_price),  # Total value of investment (balance + stock value)
                                    'Profit ($)': ((account_balance[ticker] + amount_to_sell) + (shares_number[ticker] * adj_close_price)) - initial_investment  # Profit calculation
                                }, ignore_index=True)

                                # Update account balance after selling
                                account_balance[ticker] += amount_to_sell

                    # Handle Hold action (no action taken)
                    else:
                        # Track the hold state
                        stock_tracker = stock_tracker.append({
                            'Date': row_idx,
                            'Share Price': adj_close_price,
                            'Signal': 'Hold',
                            'Buy/Sell Amount ($)': 0,
                            'Buy/Sell Number of Shares': 0,
                            'Shares ($) Ownership': shares_number[ticker] * adj_close_price,  # Update based on current price
                            'Shares Ownership': shares_number[ticker],
                            'Account Balance': account_balance[ticker],  # No change in balance
                            'Stock Value ($)': shares_number[ticker] * adj_close_price,  # Value of the stock owned
                            'Total Value ($)': account_balance[ticker] + (shares_number[ticker] * adj_close_price),  # Total value of investment (balance + stock value)
                            'Profit ($)': (account_balance[ticker] + (shares_number[ticker] * adj_close_price)) - initial_investment  # Profit calculation
                        }, ignore_index=True)

                    # Save the updated tracker back to portfolio summary
                    all_data['Stock Tracker'][period][ticker] = stock_tracker.copy()

    # Return the complete portfolio summary for all periods and tickers
    return all_data

##### Stochastic Modeling

In [33]:
def stochastic_roi(tickers,periods,return_rates_list,analysis_type):
    df = pd.DataFrame(index=tickers,columns=periods)
    for period in periods:
        for ticker in tickers:
            data = pd.Series(return_rates_list[period][ticker])
            if analysis_type=='Mean':
                df.at[ticker,period] = data.mean()
            elif analysis_type=='Median':
                df.at[ticker,period] = data.median()
            elif analysis_type=='Std':
                df.at[ticker,period] = data.std()
            elif analysis_type=='Variance':
                df.at[ticker,period] = data.var()

    return df

In [34]:
def stochastic_roi(tickers,periods,return_rates_list,analysis_type):
    df = pd.DataFrame(index=tickers,columns=periods)
    for period in periods:
        for ticker in tickers:
            data = pd.Series(return_rates_list[period][ticker])
            if analysis_type=='Mean':
                df.at[ticker,period] = data.mean()
            elif analysis_type=='Median':
                df.at[ticker,period] = data.median()
            elif analysis_type=='Std':
                df.at[ticker,period] = data.std()
            elif analysis_type=='Variance':
                df.at[ticker,period] = data.var()

    return df

In [35]:
def calculate_stock_roi(bb_signals_nd, adj_close_nd, periods_date, periods_list, tickers, n_sample, initial_investment, percent_to_buy, percent_to_sell):
    # Initialize a nested dictionary to store ROI percentages for each period and ticker
    roi_results = {period: {ticker: [] for ticker in tickers} for period in periods_list}

    # Loop through each economic period
    for period in periods_list:
        # Create the date range for the current period
        date_range = pd.date_range(start=pd.to_datetime(periods_date[period][0]), end=pd.to_datetime(periods_date[period][1]) - timedelta(days=120))
        
        # Get random dates for stochastic modeling
        start_dates = np.random.choice(date_range, size=n_sample, replace=True)

        # Loop through sampled start dates
        for start_date in start_dates:
            time_stamp = pd.to_datetime(start_date)

            # Initialize variables
            account_balance = initial_investment
            shares_number = {ticker: 0 for ticker in tickers}  # Initialize share count for each ticker
            shares_value = {ticker: 0 for ticker in tickers}   # Initialize share value for each ticker

            # Extract the adjusted close and signal data for time period
            adj_close_period = adj_close_nd[period].loc[time_stamp:time_stamp + timedelta(days=120)]
            bb_signals_period = bb_signals_nd[period].loc[time_stamp:time_stamp + timedelta(days=120)]

            # Iterate over each row in the Bollinger Band signals (day by day)
            for row_idx, row in bb_signals_period.iterrows():
                for col_idx, signal in enumerate(row):
                    ticker = tickers[col_idx]  # Correctly get ticker for each column
                    adj_close_price = adj_close_period.loc[row_idx, ticker]  # Get corresponding adjusted close price

                    # Handle Buy action
                    if signal == 'Buy':
                        amount_to_buy = percent_to_buy * account_balance
                        if account_balance >= amount_to_buy:
                            shares_to_buy = amount_to_buy / adj_close_price
                            shares_number[ticker] += shares_to_buy
                            account_balance -= amount_to_buy

                    # Handle Sell action
                    elif signal == 'Sell':
                        if shares_number[ticker] > 0:
                            shares_value[ticker] = shares_number[ticker] * adj_close_price
                            amount_to_sell = percent_to_sell * shares_value[ticker]
                            if shares_value[ticker] >= amount_to_sell:
                                shares_to_sell = amount_to_sell / adj_close_price
                                shares_number[ticker] -= shares_to_sell
                                account_balance += amount_to_sell

            # Calculate total portfolio value at the end of the period
            portfolio_value = sum(shares_number[ticker] * adj_close_period.iloc[-1][ticker] for ticker in tickers)
            total_value = account_balance + portfolio_value
            
            # Calculate the profit relative to the initial investment
            profit = total_value - initial_investment
            
            # Calculate ROI for each stock as a percentage of the initial investment
            for ticker in tickers:
                if shares_number[ticker] > 0:  # Only consider tickers with shares owned
                    roi_dollar_value = shares_value[ticker] - (initial_investment * (percent_to_buy * shares_number[ticker]))

                else:
                    roi_dollar_value = 0

                # Store ROI in the results dictionary
                roi_results[period][ticker].append(roi_dollar_value)

    return roi_results

# Chapter 3: Relative Strength Index
Relative Strength Index is another popular component of technical analysis. Similar to bollinger bands it looks to identify when there is an opportunity to enter the market when equities have been overbought or oversold. The RSI is a moving oscillator and falls between a value of 0 and 100. It is typically plotted below the line of an equity to get an overview of the movement of the stock. An asset is overbought when the value is greater than 70 which implies a sell signal and an asset is oversold when the value is less than 30 which implies a buy signal.

- RSI (between 0 and 100): Calculated over a 14 day period where RS is identified by

## Relative Strength Index Strategy
The goal of the RSI is to create a dataframe of signals based on the thresholds as explained above. This can then be used to analyze the performance of incoprorating RSI signals in comparison to a passive buy and hold strategy.

## Sector ETF and Time Period Setup

In [36]:
# create time periods for where this takes place
economic_cycle_periods = {

    "trough": ("2008-10-01", "2009-06-01"),
    "expansion": ("2012-01-01", "2015-01-01"),
    "peak": ("2019-06-01", "2020-02-01"),
    "contraction": ("2007-12-01", "2008-10-01"),
    'all_data': ('2005-01-01','2024-06-01')
}

economic_cycle_periods_list = ['trough','expansion','peak','contraction','all_data']

In [37]:
# create etf tickers for sectors
sector_etf_tickers = [
    'XLB', # materials sector
    'XLI', # industrials sector
    'XLF', # financials
    'XLK', # information technology
    'XLY', # consumer discretionary
    'XLP', # consumer staples
    'XLE', # energy
    'XLV', # healthcare
    'VOX', # communication services
    'XLU', # utilities
    'IYR' # real estate
    ]

In [38]:
# save nested dictionary data as a variable to be accessed.
sector_etf_data = download_stock_data_for_periods(sector_etf_tickers,economic_cycle_periods)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

## Relative Strength Index (RSI)

In [39]:
# create the rsi values in the nested dictionary this will be between 0 and 100
rsi_value(sector_etf_data,economic_cycle_periods_list,sector_etf_tickers)

{'trough': {'XLB':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2008-10-01  32.759998  33.189999  32.130001  32.849998  23.119263  14639500
  2008-10-02  31.540001  31.860001  29.930000  30.490000  21.458334  12581300
  2008-10-03  30.190001  31.690001  29.780001  30.190001  21.247196  16770600
  2008-10-06  29.510000  29.510000  26.889999  28.700001  20.198572  22512700
  2008-10-07  29.160000  29.530001  27.049999  27.219999  19.156969  16004900
  ...               ...        ...        ...        ...        ...       ...
  2009-05-22  26.530001  26.660000  26.110001  26.299999  18.848713   8421500
  2009-05-26  26.170000  26.969999  25.830000  26.930000  19.300220   7886900
  2009-05-27  26.790001  26.850000  25.860001  25.920000  18.576376   7216600
  2009-05-28  26.190001  26.440001  25.760000  26.379999  18.906044   8773400
  2009-05-29  26.670000  27.200001  26.500000  27.170000  19.472227   7792200

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  42.280727
  2009-05-26  49.270626
  2009-05-27  41.442753
  2009-05-28  51.054165
  2009-05-29  52.692821

  [166 rows x 7 columns],
  'XLI':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2008-10-01  30.309999  30.309999  29.379999  30.070000  21.858332  21014600
  2008-10-02  29.629999  29.629999  27.809999  28.270000  20.549887  14679300
  2008-10-03  28.500000  28.930000  27.580000  27.820000  20.222767  18081900
  2008-10-06  26.870001  27.209999  25.570000  27.090000  19.692122  20767300
  2008-10-07  27.570000  27.780001  25.820000  26.190001  19.037895  15985000
  ...               ...        ...        ...        ...        ...       ...
  2009-05-22  21.750000  21.990000  21.570000  21.690001  16.073528   8858200
  2009-05-26  21.840000  22.510000  21.510000  22.480000  16.658957  16082300
  2009-05-27  22.480000  22.580000  21.750000  21.750000  16.117994  10835700
  2009-05-28  21.950001  22.090000  21.469999  21.959999  16.273615  10851400
  2009-05-29  22.160000  22.520000  21.930000  22.490000  16.666374  10999600

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  40.687106
  2009-05-26  47.519960
  2009-05-27  39.425964
  2009-05-28  44.339549
  2009-05-29  41.584221

  [166 rows x 7 columns],
  'XLF':                  Open       High        Low      Close  Adj Close     Volume  \
  Date
  2008-10-01  16.133224  16.791227  15.913891  16.791227  12.413452  235842858
  2008-10-02  16.645004  16.815598  15.913891  15.954509  11.794880  213501932
  2008-10-03  16.401300  16.774981  15.255890  15.255890  11.278401  322736194
  2008-10-06  14.638505  15.036556  13.996751  14.459789  10.689858  420354002
  2008-10-07  14.711617  14.744110  12.932575  12.932575   9.560816  436457082
  ...               ...        ...        ...        ...        ...        ...
  2009-05-22   9.626320   9.650690   9.431357   9.471974   7.178292  118089215
  2009-05-26   9.358245   9.821284   9.350122   9.780666   7.412233  185271163
  2009-05-27   9.870024   9.902518   9.455727   9.488221   7.190605  211276284
  2009-05-28   9.561332   9.788790   9.398863   9.756296   7.393766  228614303
  2009-05-29   9.837530  10.032494   9.650690   9.935012   7.529202  231964224

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  49.419580
  2009-05-26  53.846118
  2009-05-27  42.957796
  2009-05-28  49.026585
  2009-05-29  42.052272

  [166 rows x 7 columns],
  'XLK':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2008-10-01  19.680000  19.770000  19.280001  19.670000  15.649678  13473700
  2008-10-02  19.260000  19.379999  18.670000  18.900000  15.037055  10857900
  2008-10-03  19.059999  19.530001  18.549999  18.629999  14.822241  13053800
  2008-10-06  18.150000  18.270000  17.059999  17.600000  14.002765  20373400
  2008-10-07  18.049999  18.070000  16.700001  16.700001  13.286716  14862500
  ...               ...        ...        ...        ...        ...       ...
  2009-05-22  16.950001  17.040001  16.700001  16.940001  13.618080   5434700
  2009-05-26  16.760000  17.420000  16.700001  17.379999  13.971806   5743400
  2009-05-27  17.389999  17.600000  17.200001  17.209999  13.835135   7714900
  2009-05-28  17.420000  17.540001  17.110001  17.459999  14.036108   6177900
  2009-05-29  17.510000  17.680000  17.340000  17.650000  14.188852   5396800

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  34.420173
  2009-05-26  44.983893
  2009-05-27  40.822703
  2009-05-28  56.410250
  2009-05-29  59.655153

  [166 rows x 7 columns],
  'XLY':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2008-10-01  28.850000  28.850000  27.480000  27.900000  22.589602   9123600
  2008-10-02  27.900000  27.900000  26.610001  26.889999  21.771835   7379700
  2008-10-03  27.260000  27.340000  25.910000  25.950001  21.010759   7869500
  2008-10-06  25.370001  25.730000  23.740000  25.219999  20.419703  14043000
  2008-10-07  25.650000  25.650000  23.270000  23.600000  19.108046   9430200
  ...               ...        ...        ...        ...        ...       ...
  2009-05-22  22.540001  22.740000  22.150000  22.580000  18.520384   7362500
  2009-05-26  22.389999  23.410000  22.110001  23.340000  19.143749  11048600
  2009-05-27  23.250000  23.480000  22.730000  22.830000  18.725435   7775100
  2009-05-28  23.090000  23.139999  22.350000  22.740000  18.651621   5382100
  2009-05-29  22.900000  23.180000  22.600000  23.120001  18.963306   4351000

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  37.191611
  2009-05-26  45.182739
  2009-05-27  39.331219
  2009-05-28  42.294564
  2009-05-29  42.589507

  [166 rows x 7 columns],
  'XLP':                  Open       High        Low      Close  Adj Close   Volume  \
  Date
  2008-10-01  27.530001  28.080000  26.980000  27.799999  18.009499  8520100
  2008-10-02  27.850000  27.850000  27.340000  27.450001  17.782764  5136400
  2008-10-03  28.549999  28.750000  27.200001  27.230000  17.640242  5895100
  2008-10-06  26.540001  27.020000  25.500000  26.440001  17.128458  9393600
  2008-10-07  27.320000  27.320000  25.350000  25.600000  16.584290  6318900
  ...               ...        ...        ...        ...        ...      ...
  2009-05-22  22.760000  23.129999  22.760000  22.930000  15.070187  6040400
  2009-05-26  22.920000  23.250000  22.780001  23.219999  15.260782  5478700
  2009-05-27  23.200001  23.260000  22.629999  22.629999  14.873016  6976400
  2009-05-28  22.760000  23.000000  22.570000  22.870001  15.030757  7246000
  2009-05-29  22.930000  23.180000  22.840000  23.120001  15.195062  6894700

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  58.992790
  2009-05-26  67.013930
  2009-05-27  53.753647
  2009-05-28  55.747287
  2009-05-29  55.232555

  [166 rows x 7 columns],
  'XLE':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2008-10-01  62.700001  63.430000  60.000000  62.259998  37.393253  46615500
  2008-10-02  61.299999  61.419998  57.619999  58.709999  35.261112  46997100
  2008-10-03  58.500000  69.919998  57.490002  58.009998  34.840702  48539600
  2008-10-06  55.759998  55.930000  50.980000  54.889999  32.966846  69545000
  2008-10-07  56.540001  57.279999  51.540001  51.880001  31.159031  48025300
  ...               ...        ...        ...        ...        ...       ...
  2009-05-22  48.900002  49.459999  48.500000  48.610001  29.497360  13646000
  2009-05-26  48.290001  49.779999  47.650002  49.639999  30.122387  26906900
  2009-05-27  49.849998  50.500000  49.029999  49.099998  29.794704  20871300
  2009-05-28  49.540001  51.209999  49.060001  50.730000  30.783810  25906900
  2009-05-29  51.540001  51.889999  50.970001  51.680000  31.360279  22238700

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  48.020520
  2009-05-26  54.104292
  2009-05-27  44.988132
  2009-05-28  53.699619
  2009-05-29  49.358902

  [166 rows x 7 columns],
  'XLV':                  Open       High        Low      Close  Adj Close   Volume  \
  Date
  2008-10-01  30.100000  30.480000  30.100000  30.250000  22.927488  6053600
  2008-10-02  30.250000  30.590000  29.930000  30.299999  22.965385  6353400
  2008-10-03  30.600000  30.600000  29.650000  29.650000  22.472725  6814400
  2008-10-06  29.400000  29.879999  27.410000  28.540001  21.631424  8545000
  2008-10-07  28.719999  28.780001  27.389999  27.850000  21.108444  5060200
  ...               ...        ...        ...        ...        ...      ...
  2009-05-22  25.280001  25.400000  25.070000  25.290001  19.404520  3655700
  2009-05-26  25.190001  25.660000  24.889999  25.520000  19.580992  4412900
  2009-05-27  25.549999  25.600000  25.219999  25.260000  19.381495  4591100
  2009-05-28  25.209999  25.590000  25.139999  25.389999  19.481236  5720000
  2009-05-29  25.360001  25.840000  25.290001  25.830000  19.818846  6549200

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  61.398089
  2009-05-26  60.802323
  2009-05-27  58.805825
  2009-05-28  53.691114
  2009-05-29  53.999892

  [166 rows x 7 columns],
  'VOX':                  Open       High        Low      Close  Adj Close  Volume  \
  Date
  2008-10-01  53.180000  53.470001  52.439999  53.310001  36.648045   20600
  2008-10-02  52.939999  53.650002  51.310001  51.730000  35.561863   14600
  2008-10-03  51.930000  53.020000  50.970001  50.970001  35.039402   54800
  2008-10-06  48.990002  50.259998  46.770000  48.580002  33.396385   39300
  2008-10-07  48.009998  49.250000  46.500000  46.500000  31.966490  124800
  ...               ...        ...        ...        ...        ...     ...
  2009-05-22  46.830002  46.889999  46.360001  46.580002  33.037399   37500
  2009-05-26  46.299999  48.360001  46.299999  48.250000  34.221859   32200
  2009-05-27  48.250000  48.680000  47.759998  47.770000  33.881413   36200
  2009-05-28  48.090000  48.560001  47.189999  48.380001  34.314072   29800
  2009-05-29  48.619999  48.660000  47.869999  48.660000  34.512665   40800

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  37.182764
  2009-05-26  46.544284
  2009-05-27  42.110849
  2009-05-28  49.781722
  2009-05-29  48.430492

  [166 rows x 7 columns],
  'XLU':                  Open       High        Low      Close  Adj Close   Volume  \
  Date
  2008-10-01  33.330002  33.410000  32.480000  33.090000  18.666502  6724500
  2008-10-02  32.799999  33.360001  32.200001  32.610001  18.395725  5241300
  2008-10-03  32.779999  33.279999  31.980000  32.119999  18.119312  8126700
  2008-10-06  31.280001  32.299999  29.500000  30.549999  17.233662  9640900
  2008-10-07  30.520000  31.120001  29.219999  29.299999  16.528513  9039900
  ...               ...        ...        ...        ...        ...      ...
  2009-05-22  25.559999  26.059999  25.559999  25.830000  14.918157  4892500
  2009-05-26  25.660000  26.580000  25.580000  26.580000  15.351323  7123400
  2009-05-27  26.629999  26.629999  25.980000  26.040001  15.039448  5936900
  2009-05-28  26.080000  26.709999  26.080000  26.580000  15.351323  6475000
  2009-05-29  26.629999  26.860001  26.350000  26.770000  15.461061  5180300

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  35.897373
  2009-05-26  46.739206
  2009-05-27  43.172830
  2009-05-28  47.397760
  2009-05-29  45.366802

  [166 rows x 7 columns],
  'IYR':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2008-10-01  61.169998  61.169998  59.950001  61.000000  34.011745  11929100
  2008-10-02  60.000000  60.320000  56.459999  56.959999  31.759157  15561600
  2008-10-03  57.990002  58.560001  53.919998  53.919998  30.064142  23607200
  2008-10-06  51.610001  53.000000  50.029999  52.930000  29.512156  23349100
  2008-10-07  53.240002  53.250000  48.419998  48.459999  27.019812  22293000
  ...               ...        ...        ...        ...        ...       ...
  2009-05-22  32.480000  32.880001  31.590000  31.709999  18.541616  24961700
  2009-05-26  31.400000  33.639999  31.250000  33.349998  19.500563  42247200
  2009-05-27  33.529999  33.529999  31.950001  32.240002  18.851524  36683800
  2009-05-28  32.619999  33.049999  31.730000  32.849998  19.208199  31800800
  2009-05-29  33.099998  33.770000  32.490002  33.750000  19.734457  28518600

                    RSI
  Date
  2008-10-01        NaN
  2008-10-02        NaN
  2008-10-03        NaN
  2008-10-06        NaN
  2008-10-07        NaN
  ...               ...
  2009-05-22  41.028807
  2009-05-26  49.613346
  2009-05-27  42.976186
  2009-05-28  50.811124
  2009-05-29  46.241151

  [166 rows x 7 columns]},
 'expansion': {'XLB':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2012-01-03  34.240002  34.590000  34.230000  34.430000  26.488382  11213800
  2012-01-04  34.389999  34.750000  34.250000  34.720001  26.711491   8772400
  2012-01-05  34.419998  34.950001  34.320000  34.820000  26.788427   7783700
  2012-01-06  34.700001  34.889999  34.549999  34.770000  26.749958   7218700
  2012-01-09  34.820000  34.970001  34.680000  34.840000  26.803806   9204600
  ...               ...        ...        ...        ...        ...       ...
  2014-12-24  49.049999  49.240002  48.980000  49.060001  40.311272   1878800
  2014-12-26  49.360001  49.389999  49.160000  49.230000  40.450970   1297000
  2014-12-29  49.110001  49.369999  49.110001  49.230000  40.450970   2173200
  2014-12-30  49.119999  49.279999  49.040001  49.060001  40.311272   2167600
  2014-12-31  49.169998  49.169998  48.570000  48.580002  39.916874   2984400

                    RSI
  Date
  2012-01-03        NaN
  2012-01-04        NaN
  2012-01-05        NaN
  2012-01-06        NaN
  2012-01-09        NaN
  ...               ...
  2014-12-24  47.054390
  2014-12-26  48.491599
  2014-12-29  54.106493
  2014-12-30  51.888520
  2014-12-31  56.203869

  [754 rows x 7 columns],
  'XLI':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2012-01-03  34.410000  34.810001  34.410000  34.490002  27.099352  19704600
  2012-01-04  34.380001  34.689999  34.299999  34.650002  27.225065  10290300
  2012-01-05  34.430000  34.680000  34.150002  34.660000  27.232933   8828900
  2012-01-06  34.740002  34.740002  34.480000  34.590000  27.177925   8702400
  2012-01-09  34.689999  34.900002  34.540001  34.849998  27.382215  15523400
  ...               ...        ...        ...        ...        ...       ...
  2014-12-24  57.470001  57.560001  57.349998  57.400002  47.958046   1958200
  2014-12-26  57.599998  57.599998  57.400002  57.400002  47.958046   5733900
  2014-12-29  57.330002  57.540001  56.910000  57.490002  48.033245   3566200
  2014-12-30  57.730000  57.730000  57.070000  57.150002  47.749176   3602800
  2014-12-31  57.380001  57.380001  56.549999  56.580002  47.272945   5572900

                    RSI
  Date
  2012-01-03        NaN
  2012-01-04        NaN
  2012-01-05        NaN
  2012-01-06        NaN
  2012-01-09        NaN
  ...               ...
  2014-12-24  54.633083
  2014-12-26  53.691335
  2014-12-29  60.334365
  2014-12-30  56.861837
  2014-12-31  62.056155

  [754 rows x 7 columns],
  'XLF':                  Open       High        Low      Close  Adj Close     Volume  \
  Date
  2012-01-03  10.787977  10.942323  10.779854  10.836718   8.536139  103362023
  2012-01-04  10.755483  10.844842  10.682372  10.804224   8.510546   69833891
  2012-01-05  10.706742  11.007311  10.658002  10.950447   8.625727   89935260
  2012-01-06  10.958570  10.958570  10.812348  10.885459   8.574533   83878617
  2012-01-09  10.926076  10.991064  10.869212  10.942323   8.619325   69189586
  ...               ...        ...        ...        ...        ...        ...
  2014-12-24  20.365557  20.365557  20.259951  20.268076  16.805050    9773278
  2014-12-26  20.333063  20.341187  20.259951  20.268076  16.805050   18149002
  2014-12-29  20.251827  20.422421  20.211210  20.341187  16.865667   22126486
  2014-12-30  20.308693  20.365557  20.251827  20.316816  16.845455   20298451
  2014-12-31  20.389927  20.406174  20.064987  20.089357  16.656864   29869969

                    RSI
  Date
  2012-01-03        NaN
  2012-01-04        NaN
  2012-01-05        NaN
  2012-01-06        NaN
  2012-01-09        NaN
  ...               ...
  2014-12-24  57.512564
  2014-12-26  54.352269
  2014-12-29  53.891811
  2014-12-30  54.446635
  2014-12-31  55.180813

  [754 rows x 7 columns],
  'XLK':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2012-01-03  25.870001  26.020000  25.790001  25.809999  21.622303  26839900
  2012-01-04  25.799999  25.930000  25.660000  25.879999  21.680958   4744300
  2012-01-05  25.850000  26.010000  25.730000  25.959999  21.747980   6756900
  2012-01-06  25.980000  26.030001  25.850000  25.969999  21.756351   4989200
  2012-01-09  26.059999  26.080000  25.860001  25.930000  21.722839   4086600
  ...               ...        ...        ...        ...        ...       ...
  2014-12-24  42.279999  42.279999  42.130001  42.139999  37.268242   2655600
  2014-12-26  42.220001  42.400002  42.200001  42.320000  37.427425   2278500
  2014-12-29  42.160000  42.279999  42.070000  42.110001  37.241714   4638300
  2014-12-30  42.029999  42.090000  41.770000  41.810001  36.976398   5503400
  2014-12-31  41.950001  42.000000  41.310001  41.349998  36.569572   5955300

                    RSI
  Date
  2012-01-03        NaN
  2012-01-04        NaN
  2012-01-05        NaN
  2012-01-06        NaN
  2012-01-09        NaN
  ...               ...
  2014-12-24  51.781679
  2014-12-26  53.861136
  2014-12-29  56.119235
  2014-12-30  53.151545
  2014-12-31  54.817872

  [754 rows x 7 columns],
  'XLY':                  Open       High        Low      Close  Adj Close    Volume  \
  Date
  2012-01-03  39.669998  39.810001  39.349998  39.349998  33.701874  12055500
  2012-01-04  39.279999  39.750000  39.279999  39.660000  33.967369   3118300
  2012-01-05  39.439999  39.990002  39.230000  39.990002  34.250019   4576300
  2012-01-06  40.009998  40.200001  39.799999  40.049999  34.301392   3092600
  2012-01-09  40.160000  40.160000  39.830002  39.990002  34.250019   3071400
  ...               ...        ...        ...        ...        ...       ...
  2014-12-24  72.150002  72.150002  71.820000  71.839996  64.257996   1687800
  2014-12-26  72.040001  72.379997  71.940002  72.230003  64.606819  14102300
  2014-12-29  72.190002  72.910004  72.029999  72.779999  65.098793  23013600

In [40]:
# create rsi signal
create_rsi_signal(sector_etf_data,economic_cycle_periods_list,sector_etf_tickers)

In [41]:
# collect the signals as dataframes based on the period
rsi_signals = collect_signals(sector_etf_data,economic_cycle_periods_list,sector_etf_tickers)

In [42]:
for period in economic_cycle_periods_list:
    rsi_signals[period].to_csv(f'/Users/ben_nicholson/Visual_Code_Projects/Personal_Projects/Financial Capstone Project/data/signal_data/rsi_signals/{period}_rsi_singals.csv')

In [43]:
# adjusted close price dataframe
adj_close_sector_etf =get_adjusted_closed_price(sector_etf_data,sector_etf_tickers,economic_cycle_periods_list)

In [44]:
rsi_investment = individual_stock(rsi_signals,adj_close_sector_etf,economic_cycle_periods,economic_cycle_periods_list,sector_etf_tickers,100,0.05,0.25)

In [45]:
# show the individual performance of a single time period
rsi_investment['Stock Tracker']['trough']['XLV']

,Date,Share Price,Signal,Buy/Sell Amount ($),Buy/Sell Number of Shares,Shares ($) Ownership,Shares Ownership,Account Balance,Stock Value ($),Total Value ($),Profit ($)
0,2008-12-18,19.774473,Hold,0.0,0.0,0.000000,0.000000,100.000000,0.000000,100.000000,0.000000
1,2008-12-23,19.765329,Hold,0.0,0.0,0.000000,0.000000,100.000000,0.000000,100.000000,0.000000
2,2008-12-26,19.711958,Hold,0.0,0.0,0.000000,0.000000,100.000000,0.000000,100.000000,0.000000
3,2008-12-29,19.681450,Hold,0.0,0.0,0.000000,0.000000,100.000000,0.000000,100.000000,0.000000
4,2009-01-07,20.039848,Hold,0.0,0.0,0.000000,0.000000,100.000000,0.000000,100.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
68,2009-04-13,18.660263,Hold,0.0,0.0,24.571026,1.316757,78.920494,24.571026,103.491520,3.491520
69,2009-04-14,18.575851,Hold,0.0,0.0,24.459876,1.316757,78.920494,24.459876,103.380370,3.380370
70,2009-04-15,18.683264,Hold,0.0,0.0,24.601312,1.316757,78.920494,24.601312,103.521806,3.521806
71,2009-04-16,18.767675,Hold,0.0,0.0,24.712462,1.316757,78.920494,24.712462,103.632955,3.632955
72,2009-04-17,18.982506,Hold,0.0,0.0,24.995341,1.316757,78.920494,24.995341,103.915835,3.915835

In [46]:
# get the stochastic model
rsi_signal_return = calculate_stock_roi(rsi_signals,adj_close_sector_etf,economic_cycle_periods,economic_cycle_periods_list,sector_etf_tickers,1000,100,0.05,0.05)

In [47]:
rsi_return = stochastic_roi(sector_etf_tickers,economic_cycle_periods_list,rsi_signal_return,'Mean')
rsi_return

       trough expansion       peak contraction  all_data
XLB -0.000361   2.10851   2.634282    0.733884  3.916576
XLI  6.292657  2.614415   8.502775   -0.251376  2.939193
XLF -5.564377  1.723108   2.584521    6.966538  2.255043
XLK -0.131861  2.237725   1.789992    2.893847   2.31792
XLY  6.925557  3.048984  11.599573    3.134754  2.844948
XLP  4.898696  3.017995        0.0    1.988981  2.875456
XLE   2.51848  3.329099  16.198085    0.808835   5.12744
XLV  1.322212  1.675307   1.765243   -0.258762  3.171946
VOX  1.507609  3.965634   4.190397    3.413696  4.184969
XLU  2.728507   4.33166   1.178912    0.833453  3.614374
IYR -2.234746  7.051758   0.460601    1.742243  2.794447

In [48]:
# import buy and hold data
benchmark_buy_hold = pd.read_csv('/Users/ben_nicholson/Visual_Code_Projects/Personal_Projects/Financial Capstone Project/data/performance_data/bollinger_band_return.csv')
benchmark_buy_hold.set_index('Unnamed: 0', inplace=True)
benchmark_buy_hold.index.name=None
benchmark_buy_hold

       trough  expansion       peak  contraction  all_data
XLB  0.111376   2.909002   7.766656     5.470918  4.047584
XLI  5.913364   4.578448   6.400588    -2.387284  3.252669
XLF -2.508753   3.047783   8.084170    -2.460390  2.737841
XLK  1.156225   4.052004   4.975443     2.767964  3.557677
XLY  5.542987   3.961424  13.285349     4.977997  3.977765
XLP  0.899896   2.958756   0.487697     4.634063  3.387138
XLE  4.221545   4.733001   8.942925     2.933318  4.492614
XLV  3.277763   2.715801   2.964604     7.092937  4.140228
VOX  4.667345   5.070946   4.561910     4.709325  4.077543
XLU  1.003137   4.014553   2.164693     2.628947  3.609534
IYR  3.588612   1.762073   0.948090     2.864159  3.921675

In [49]:
performance_against_benchmark_returns = rsi_return - benchmark_buy_hold
performance_against_benchmark_returns

       trough expansion      peak contraction  all_data
XLB -0.111737 -0.800492 -5.132374   -4.737034 -0.131008
XLI  0.379293 -1.964033  2.102186    2.135908 -0.313476
XLF -3.055624 -1.324675 -5.499649    9.426928 -0.482798
XLK -1.288086 -1.814279 -3.185451    0.125883 -1.239757
XLY   1.38257  -0.91244 -1.685776   -1.843244 -1.132817
XLP    3.9988  0.059239 -0.487697   -2.645082 -0.511682
XLE -1.703065 -1.403902  7.255159   -2.124483  0.634826
XLV -1.955551 -1.040494 -1.199361   -7.351699 -0.968282
VOX -3.159735 -1.105312 -0.371513   -1.295628  0.107426
XLU  1.725371  0.317107 -0.985781   -1.795495   0.00484
IYR -5.823358  5.289685  -0.48749   -1.121915 -1.127228

In [50]:
performance_against_benchmark_returns.mean()

trough        -0.873738
expansion     -0.427236
peak          -0.879795
contraction   -1.020533
all_data      -0.469087
dtype: float64

Performs overall a little bit worse than the benchmark of passive investing